body { /*background:url(images/bg.jpg) no-repeat center top #310b28;*/
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	font-size: 10px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

/*a{
color:#256c89;
}*/
h1 {
	font-size: 50;
	color: #993300;
	font-weight: normal;
	padding: 0px 0 15px 0;
	margin: 0px;
	clear: both;
	font-family: Cambria;
	font-size: 25px;
}

h3 {
	font-size: 18px;
	color: #256c89;
	font-weight: normal;
	padding: 15px 0 5px 20px;
	margin: 0px;
	float: left;
	clear: both;
}

.header {
	background: url(images/headerbg.png);
	background-repeat: repeat-x;
	height: 80px; /*old 88px*/
	width: 100%;
}

.footer {
	height: 15px;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-repeat: repeat-x;
	clear: both;
	margin-bottom: 0px;
	background-color: #EDF1F3;
}

.menu {
	font-size: 14px;
	padding: 0px 0px 0 10px;
	width: auto;
	background-color: #2D659F; /*#4F52BA*/
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

/* remove all the bullets, borders and padding from the default list styling */
.menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	height: 34px;
}

/* style the sub-level lists */
.menu ul ul {
	width: auto;
}

/* float the top list items to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu ul li {
	float: left;
	height: 34px;
	line-height: 34px;
}

/* style the sub level list items */
.menu ul ul li {
	display: block;
	width: auto;
	height: auto;
	position: relative;
	line-height: 1em;
}

/* style the links for the top level */
.menu a,.menu a:visited {
	display: block;
	float: left;
	height: 100%;
	font-size: 12px;
	text-decoration: none;
	color: white;
	padding: 0 8px 0 8px;
}

/*.menu a.current{background:url(images/menu_bg.gif) repeat-x center;}*/
	/* style the sub level links */
.menu ul ul a,.menu ul ul a:visited {
	display: block;
	background: #57c0e8;
	border-bottom: 1px #81dafc solid;
	color: #fff;
	width: 12em;
	height: 100%;
	line-height: 1em;
	padding: 1em 1em;
}

.menu ul table ul a,.menu ul table ul a:visited {
	width: 14em;
	w\idth: 12em;
}

/* style the table so that it takes no part in the layout - required for IE to work */
.menu table {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 1em;
	z-index: -1;
}

.menu ul ul table {
	lef\t: -1px;
}

.menu ul ul table ul.left {
	margin-lef\t: 2px;
}

.menu li:hover {
	position: relative;
}

* html .menu a:hover {
	position: relative;
}

/* style the third level background */
.menu ul ul ul a,.menu ul ul ul a:visited {
	background: #57c0e8;
}

/* style the fourth level background */
.menu ul ul ul ul a,.menu ul ul ul ul a:visited {
	background: #57c0e8;
}

/* style the sub level 1 background */
.menu ul :hover a.sub1 {
	background: url(images/arrow.gif) no-repeat right #309dc7;
}

/* style the sub level 2 background */
.menu ul ul :hover a.sub2 {
	background: url(images/arrow.gif) no-repeat right #088bb4;
}

/* style the level hovers */ /* first */
.menu a:hover {
	color: #fff;
	background: url(images/menu_bg.gif) repeat-x center;
}

.menu :hover>a {
	color: #fff;
	background: url(images/menu_bg.gif) repeat-x center;
}

/* second */
.menu ul ul a:hover {
	color: #fff;
	background: url(images/menu_bg_a.gif) repeat-x center;
}

.menu ul ul :hover>a {
	color: #fff;
	background: url(images/menu_bg_a.gif) repeat-x center;
}

/* third */
.menu ul ul ul a:hover {
	background: url(images/menu_bg_a.gif) repeat-x center;
}

.menu ul ul ul :hover>a {
	background: url(images/menu_bg_a.gif) repeat-x center;
}

/* fourth */
.menu ul ul ul ul a:hover {
	background: url(images/menu_bg_a.gif) repeat-x center;
}

/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul {
	visibility: hidden;
	position: absolute;
	height: 0;
	top: 34px;
	left: 0;
	width: 14em;
	z-index: 999;
}

/* position the third level flyout menu */
.menu ul ul ul {
	left: 14em;
	top: 0;
	width: 14em;
}

/* position the third level flyout menu for a left flyout */
.menu ul ul ul.left {
	left: -14em;
}

/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul,.menu ul a:hover ul {
	visibility: visible;
	height: auto;
	padding-bottom: 3em;
	background: transparent url(images/trans.gif);
}

/* keep the third level hidden when you hover on first level list OR link */
.menu ul :hover ul ul {
	visibility: hidden;
}

/* keep the fourth level hidden when you hover on second level list OR link */
.menu ul :hover ul :hover ul ul {
	visibility: hidden;
}

/* make the third level visible when you hover over second level list OR link */
.menu ul :hover ul :hover ul {
	visibility: visible;
}

/* make the fourth level visible when you hover over third level list OR link */
.menu ul :hover ul :hover ul :hover ul {
	visibility: visible;
}

.menuSeperator {
	color: black;
	padding-left: 10px;
}

.valid_box {
	width: 540px;
	clear: both;
	background: url(images/valid.png) no-repeat left #edfce9;
	border: 1px #cceac4 solid;
	background-position: 15px 10px;
	padding: 20px 20px 15px 60px;
	margin: 0 0 10px 0;
}

.center_content {
	clear: both;
	height: auto;
}

.left_content {
	float: left;
	padding: 8px 0px 0 0px;
}

.right_content {
	width: 79%;
	height: 77%;
	float: center;
	padding: 0px 0 0px 0px;
}

div.scroll {
	background-color: ;
	height: auto;
	height: 98%;
	overflow: scroll;
	padding-top: 23px;
	width: 100%;
}

div.cscroll {
	background-color: #ecf8fd;
	height: auto;
	height: 98%;
	overflow: scroll;
	padding-top: 30px;
	width: 100%;
}

div.noscroll {
	background-color: ;
	height: 77%;
	padding-top: 15px;
	height: auto;
}

.successdevicecreatedmsg {
	align: center;
	font-size: 21px;
}

#preview {
	position: absolute;
	border: 1px solid #ccc;
	background: #333;
	padding: 5px;
	display: none;
	color: #fff;
}

.approvalstyle {
	background-color: #8A62ED;
	height: 44px;
	radius: 10px solid #8A62ED;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 5px;
}

.class1:hover {
	cursor: pointer;
	height: 105px;
	width: 240px;
}

.rightccontent {
	margin: 0;
	list-style-image: none;
	list-style-type: none;
	display: block;
	width: 10%;
	padding: 0px 0 0 0px;
	float: left;
	text-decoration: none;
}

.rightccontent ul li {
	list-style-type: none;
}

.sidebarmenu {
	margin: 0px 0;
	padding: 0;
}

.sidebarmenu ul {
	-webkit-padding-start: 5px;
}

.sidebarmenu a.menuitem {
	background-color: #2D659F;
	border-radius: 5px;
	/*background: url(../images/sidebar_menu_top.gif) no-repeat center top;*/
	color: #fff;
	display: block;
	position: relative;
	width: 185px;
	height: 31px;
	margin: 0 0 5px 0;
	line-height: 31px;
	padding: 0px 0 0 10px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bolder;
}

.sidebarmenu1 a.menuitem1 {
	background-color: #57c0e8;
	color: #fff;
	display: block;
	position: relative;
	width: 185px;
	height: 31px;
	margin: 0 0 5px 0;
	line-height: 31px;
	padding: 0px 0 0 10px;
	text-decoration: none;
	font-size: 12px;
}

.sidebarmenu a.menuitem_green {
	background: url(../images/green_bt.gif) no-repeat center top;
	color: #fff;
	display: block;
	position: relative;
	width: 199px;
	height: 31px;
	margin: 0 0 5px 0;
	line-height: 31px;
	padding: 0px 0 0 0px;
	text-decoration: none;
}

.sidebarmenu a.menuitem_red {
	background: url(../images/red_bt.gif) no-repeat center top;
	color: #fff;
	display: block;
	position: relative;
	width: 185px;
	height: 31px;
	margin: 0 0 5px 0;
	line-height: 31px;
	padding: 0px 0 0 10px;
	text-decoration: none;
}

.sidebarmenu a.menuitem:hover {
	background: url(../images/green_bt_a.gif) no-repeat center top;
}

.sidebarmenu a.menuitem_green:hover {
	background: url(../images/green_bt_a.gif) no-repeat center top;
}

.sidebarmenu a.menuitem_red:hover {
	background: url(../images/red_bt_a.gif) no-repeat center top;
}

.sidebarmenu a.menuitem:visited,.sidebarmenu .menuitem:active {
	color: white;
}

.sidebarmenu a.menuitem:active {
	background: url(../images/green_bt_a.gif) no-repeat center top;
}

.sidebarmenu a.menuitem1:active {
	background-color: red;
}

.sidebarmenu a.menuitem .statusicon {
	position: absolute;
	top: 11px;
	right: 7px;
	border: none;
}

.sidebarmenu div.submenu {
	background: white;
}

.sidebarmenu div.submenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 5px 0;
}

.sidebarmenu div.submenu ul li {
	border-bottom: 1px dotted #bfd1d9;
}

.sidebarmenu div.submenu ul li a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 5px 0;
	padding-left: 10px;
}

.sidebarmenu div.submenu ul li a:hover {
	background: #e2f0ff;
	color: #0e4354;
}

a.bt_green {
	display: block;
	float: left;
	line-height: 31px;
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 1px 1px #8fa42b;
}

a.bt_green strong {
	width: 728px;
	height: 31px;
	padding: 0 10px 0 10px;
	display: block;
	float: left;
	background: url(images/bt_green_center.gif) repeat-x center;
}

a.bt_green span.bt_green_lft {
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_green_left.gif) no-repeat center right;
}

a.bt_green span.bt_green_r {
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_green_r.gif) no-repeat center right;
}

a:hover.bt_green {
	text-decoration: underline;
}

a.bt_blue7 {
	margin-bottom: 0px;
	font-size: 18px;
	display: block;
	float: left;
	line-height: 31px;
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 1px 1px #3597bf;
}

a.bt_blue7 strong {
	width: 745px;
	height: 31px;
	padding: 0 10px 0 10px;
	display: block;
	float: left;
	background: url(images/bt_blue_center.gif) repeat-x center;
	margin-bottom: 10px;
}

a.bt_blue7 span.bt_blue_lft7 {
	margin-bottom: 10px;
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_blue_left.gif) no-repeat center right;
}

a.bt_blue7 span.bt_blue_r7 {
	margin-bottom: 10px;
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_blue_r.gif) no-repeat center right;
}

a:hover.bt_blue7 {
	text-decoration: underline;
}

a.bt_bluerecsearch {
	margin-bottom: 0px;
	font-size: 18px;
	display: block;
	float: left;
	line-height: 31px;
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 1px 1px #3597bf;
}

a.bt_bluerecsearch strong {
	width: 500px;
	height: 31px;
	padding: 0 10px 0 10px;
	display: block;
	float: left;
	background: url(images/bt_blue_center.gif) repeat-x center;
}

a.bt_bluerecsearch span.bt_blue_lftrecsearch {
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_blue_left.gif) no-repeat center right;
}

a.bt_bluerecsearch span.bt_blue_rrecsearch {
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_blue_r.gif) no-repeat center right;
}

a:hover.bt_bluerecsearch {
	text-decoration: underline;
}

a.bt_blue {
	font-size: 18px;
	display: block;
	float: left;
	line-height: 31px;
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 1px 1px #3597bf;
}

a.bt_blue strong {
	width: 748px;
	height: 31px;
	padding: 0 10px 0 10px;
	display: block;
	float: left;
	background: url(images/bt_blue_center.gif) repeat-x center;
}

a.bt_blue span.bt_blue_lft {
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_blue_left.gif) no-repeat center right;
}

a.bt_blue span.bt_blue_r {
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_blue_r.gif) no-repeat center right;
}

a:hover.bt_blue {
	text-decoration: underline;
}

a.bt_green1 {
	padding-left: 89px;
	display: block;
	float: left;
	line-height: 31px;
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 1px 1px #8fa42b;
}

a.bt_green1 strong {
	width: 561px;
	height: 31px;
	padding: 0 10px 0 10px;
	display: block;
	float: left;
	background: url(images/bt_green_center.gif) repeat-x center;
}

a.bt_green1 span.bt_green_lft1 {
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_green_left.gif) no-repeat center right;
}

a.bt_green1 span.bt_green_r1 {
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_green_r.gif) no-repeat center right;
}

a:hover.bt_green1 {
	text-decoration: underline;
}

/*a.bt_blue1{font-size:18px;background-color:#57c0e8;display:block;backgroundcolor: float:left;line-height:31px; text-decoration:none; color:#FFFFFF; text-shadow:1px 1px #3597bf;}
a.bt_blue1 strong{ background-color:#57c0e8; width:255px;height:31px; padding:0 10px 0 10px;display:block; float:left;background:url(images/bt_blue_center.gif) repeat-x center;}
a.bt_blue1 span.bt_blue_lft1{width:10px;height:31px;display:block; float:left;background:url(images/bt_blue_left.gif) no-repeat center right;clear:both;}
a.bt_blue1 span.bt_blue_r1{width:10px;height:31px;display:block; float:left;background:url(images/bt_blue_r.gif) no-repeat center right;}
a:hover.bt_blue1{ text-decoration:underline;}*/
a.bt_green2 {
	display: block;
	float: left;
	line-height: 31px;
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 1px 1px #8fa42b;
}

a.bt_green2 strong {
	width: 550px;
	height: 31px;
	padding: 0 10px 0 10px;
	display: block;
	float: left;
	background: url(images/bt_green_center.gif) repeat-x center;
}

a.bt_green2 span.bt_green_lft2 {
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_green_left.gif) no-repeat center right;
}

a.bt_green2 span.bt_green_r2 {
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_green_r.gif) no-repeat center right;
}

a:hover.bt_green2 {
	text-decoration: underline;
}

a.bt_blue2 {
	font-size: 18px;
	display: block;
	float: left;
	line-height: 31px;
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 1px 1px #3597bf;
}

a.bt_blue2 strong {
	width: 540px;
	height: 31px;
	padding: 0 10px 0 10px;
	display: block;
	float: left;
	background: url(images/bt_blue_center.gif) repeat-x center;
}

a.bt_blue2 span.bt_blue_lft2 {
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_blue_left.gif) no-repeat center right;
}

a.bt_blue2 span.bt_blue_r2 {
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_blue_r.gif) no-repeat center right;
}

a:hover.bt_blue2 {
	text-decoration: underline;
}

a.bt_red {
	display: block;
	float: left;
	margin: 10px 5px 10px 5px;
	line-height: 31px;
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 1px 1px #c24739;
}

a.bt_red strong {
	width: auto;
	height: 31px;
	padding: 0 10px 0 10px;
	display: block;
	float: left;
	background: url(images/bt_red_center.gif) repeat-x center;
}

a.bt_red span.bt_red_lft {
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_red_left.gif) no-repeat center right;
}

a.bt_red span.bt_red_r {
	width: 10px;
	height: 31px;
	display: block;
	float: left;
	background: url(images/bt_red_r.gif) no-repeat center right;
}

a:hover.bt_red {
	text-decoration: underline;
}

/*--------------*/
#rounded-corner {
	margin: 0px;
	width: 625px;
	text-align: left;
	border-collapse: collapse;
}

#rounded-corner thead th.rounded-company {
	width: 26px;
	background: #60c8f2 url('images/left.jpg') left top no-repeat;
}

#rounded-corner thead th.rounded-q4 {
	background: #60c8f2 url('images/right.jpg') right top no-repeat;
}

#rounded-corner th {
	padding: 5px;
	font-weight: normal;
	font-size: 11px;
	color: #039;
	background: #60c8f2;
}

#rounded-corner td {
	padding: 5px;
	background: #ecf8fd;
	border-top: 1px solid #fff;
	color: #669;
}

#rounded-corner tfoot td.rounded-foot-left {
	background: #ecf8fd url('images/botleft.jpg') left bottom no-repeat;
}

#rounded-corner tfoot td.rounded-foot-right {
	background: #ecf8fd url('images/botright.jpg') right bottom no-repeat;
}

#rounded-corner tbody tr:hover td {
	background: #d2e7f0;
}

div.pagination {
	width: 625px;
	clear: both;
	padding: 10px 0 10px 0;
	margin: 0px;
	text-align: center;
	float: left;
	clear: both;
	font-size: 11px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #52bfea;
	text-decoration: none;
	color: #52bfea;
}

div.pagination a:hover,div.pagination a:active {
	border: 1px solid #52bfea;
	color: #fff;
	background-color: #52bfea;
}

div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #52bfea;
	font-weight: bold;
	background-color: #52bfea;
	color: #FFF;
}

div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}

imp {
	color: #24b0e1;
}

#tablebackground {
	background-color: #ecf8fd;
}